{% extends 'pointqanalysis/template_skeleton.html' %}
{% load staticfiles %}
{% block title %} Map Selector{% endblock %}

{% block container %} 

	<div id= "step1">
		<div id='left_tree'>
			<div class="btn-group" data-toggle="buttons">
				<label class="btn btn-primary active" analysis="flow">
					<input type="radio" name="options"  checked> Flow
				</label>
				<label class="btn btn-primary" analysis="queue">
					<input type="radio" name="options" > Queues
				</label>
				<label class="btn btn-primary" analysis="OD">
					<input type="radio" name="options" > OD Pairs
				</label>
			</div>
			<div id="flow">
				<h2>Selected links: <button id="clear_links_button"  type="button" class="btn btn-default btn-xs" data-loading-text="Clearing...">Clear</button></h2>
				<ul id = "ul_flow" class="no_puce">
				  
				</ul>
			        <input type="text" id="add_link" size="26" value=""> <button id="add_link_button"  type="button" class="btn btn-default" data-loading-text="Adding...">Add</button> <img width=15px src=" {% static "pointqanalysis/images/question.png" %}" alt="question" id="link_question"/>
			</div>

			<div id="queue">
				<h2>Selected queues: <button id="clear_queues_button"  type="button" class="btn btn-default btn-xs" data-loading-text="Clearing...">Clear</button></h2>
				<ul id = "ul_queues" class="no_puce">

				</ul>
			        <input type="text" id="add_q1" size="26" tabindex="10" value=""> <button id="add_q_button"  type="button" class="btn btn-default" data-loading-text="Adding...">Add</button>  <img width=15px src=" {% static "pointqanalysis/images/question.png" %}" alt="question" id="queue_question"/>
			</div>
			<div id="OD">
				<h2>Selected OD pairs: <button id="clear_ODs_button"  type="button" class="btn btn-default btn-xs" data-loading-text="Clearing...">Clear</button></h2>
				<ul id = "ul_OD" class="no_puce">
				  
				</ul>
			        <input type="text" id="add_OD" size="26" value=""> <button id="add_OD_button"  type="button" class="btn btn-default" data-loading-text="Adding...">Add</button> <img width=15px src=" {% static "pointqanalysis/images/question.png" %}" alt="question" id="OD_question"/>
			</div>
		</div>
		<div id="left_tree_2">
			<div id="queue_w_origin">
				<img src='{% static "pointqanalysis/images/close.png" %}' alt='close'/>Close
				<hr>
				<h2>Select origins:</h2>
				<table class="table" id="table_queue_w_origin">
				</table>
			</div>
		</div>
		<div id="map-canvas"></div>
	</div>
	<div id="step2">
		<h2>Parameters:</h2>
		<div id='div_type_analysis'>
			<h3>Type of Analysis:</h3>
			<br/>
			<div class="btn-group" data-toggle="buttons">
				<label id = "lb_btn_analysis_flows" class="btn btn-primary active">
					<input id = "btn_analysis_flows" type="checkbox" checked> Flows
				</label>
				<label id = "lb_btn_analysis_queues" class="btn btn-primary">
					<input id = "btn_analysis_queues" type="checkbox"> Queues
				</label>
				<label class="btn btn-primary">
					<input id = "btn_analysis_TT" type="checkbox"> Travel Time
				</label>
			</div>
		</div>
		<div id='div_time_selection'>
			<h3>Time selection:</h3>
			<input type="text" id="slider_time" name="slide_time" value="" />

		</div>
		<div id='div_granularity'>
			<h3>Flow granularity:</h3>
			<br />
			<div class="input-group">
				<div class="input-group-addon">[s]</div>
				<input class="form-control" type="text" id="box_granularity" name="box_granularity" value="" >
			</div>

		</div>
		<div id = "div_advanced_param">
			<h3>Advanced Parameters:</h3>
			<div class="checkbox">
				<img width=15px src=" {% static "pointqanalysis/images/question.png" %}" alt="question" id="link_occupancy_question"/>
				<label>
					<input type="checkbox" id = "link_occupancy"> Plot sum of queues
				</label>
			</div>
			<div class="checkbox">
				<img width=15px src=" {% static "pointqanalysis/images/question.png" %}" alt="question" id="queue_origin_question"/>
				<label> 
					<input type="checkbox" id = "cb_queue_origin"> Separate queue traffic based on origin link
				</label>
				<span id = "config_queue_origin">&nbsp;&nbsp;|&nbsp;&nbsp;<u>configure</u></span>
			</div>
		</div>
		<div id = "generate">
			<button type="button" class="btn btn-default btn-lg" data-loading-text="Generating...">Generate</button>
		</div>
	</div>


<!-- Modal -->
<div class="modal fade" id="linkModal" tabindex="-1" role="dialog" aria-labelledby="linkModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="linkModalLabel">Adding Links Manually</h4>
      </div>
      <div class="modal-body">
    Enter link IDs, separated by a space. For instance, entering<br><br> <samp>100014 100017 100020 100021</samp><br><br> will add links 100014, 100017, 100020 and 100021.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="queueModal" tabindex="-1" role="dialog" aria-labelledby="queueModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="queueModalLabel">Adding Queues Manually</h4>
      </div>
      <div class="modal-body">
    Enter the pair of link IDs for a queue between brackets, separated by a comma. Separate queues by a space to add multiple queues. For instance, entering<br><br> <samp>[100014,100017] [100017,100020] [100020,100021]</samp><br><br> will add queues [100014,100017], [100017,100020], and [100020,100021].
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="linkoccupancyModal" tabindex="-1" role="dialog" aria-labelledby="linkoccupancyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="queueModalLabel">Plot sum of queues</h4>
      </div>
      <div class="modal-body">
    	If this option is checked, then any queues selected that are from the same link are added together, and therefore there is one line plot per link.<br /><br />
	So for example, suppose Link 1 has a total of 3 queues: [1,2], [1,3], and [1,4]. Now suppose you selected queues [1,2] and [1,3], and checked the option "Plot sum of queues", then one line plot would be generated containing the total of queues [1,2] and [1,3] (queue [1,4] would not be included since it was not selected).<br /><br />
	If you selected, e.g., queues [1,2], [1,3], [6,7], and [6,8], then two line plots would be generated: one for link 1, and one for link 6.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="queueoriginModal" tabindex="-1" role="dialog" aria-labelledby="queueoriginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="queueModalLabel">Separate queue traffic based on origin link</h4>
      </div>
      <div class="modal-body">
    	This option allows you to to plot a queue considering only the vehicules that started their journey from the origin link you selected.<br />
    	If you select for example queue [100014, 100015] with origin link 10001, two plots will be generated:<br /><br />
    	<ul>
    		<li>The usual plot for the queue [100014, 100015]</li>
    		<li>The plot of the queue [100014, 100015] considering vehicles that entered the network through link 10001</li>
    	</ul>
    	<br/>
    	How to proceed:<br />
    	---> Select your queues as usual<br />
	---> Click on configure to enter manually the origin for each queue<br />
	---> Check the correct checkbox<br />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="ODModal" tabindex="-1" role="dialog" aria-labelledby="ODModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="queueModalLabel">Adding OD Pairs Manually</h4>
      </div>
      <div class="modal-body">
    Enter the pair of link IDs for an origin-destination pair between brackets, separated by a comma. Separate OD pairs by a space to add multiple pairs. For instance, entering<br><br> <samp>[100053,100075]</samp><br><br> will add OD pair [100053,100075].
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
	<div id = "rendercharts">
		<div id="flowchart" ></div>
		<div id="queuechart" ></div>
		<div id="TTchart" ></div>
	</div>
{% endblock %}

{% block javascript %} 
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCoJ26UXM3yhuReCvT9V03jcUTkREcpUVw"></script>
	<script type="text/javascript"  src="{% static 'pointqanalysis/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'pointqanalysis/js/ion.rangeSlider.min.js' %}"></script>
	<script type="text/javascript"  src="{% static 'pointqanalysis/js/canvasjs.min.js' %}"></script>	
	<script type="text/javascript">

		// GLOBAL VARIABLES
		var geojson = JSON.parse('{{ geojson|safe}}');
		var topjson = JSON.parse('{{ topjson|safe}}');
		var maxtimesim =  {{ maxtimesim }};

		var static_img_marker = '{% static 'pointqanalysis/images/marker.png' %}';
		var static_img_close = '{% static "pointqanalysis/images/close.png" %}';

		var map;
		var indicator = 'flow';

		// variable for the link list
		var list_links = [];

		// variables for the queue list
		var list_queues = [];
		var list_queue_temp = ['link1', 'link2'];
		var list_queue_feat_temp = ['link1', 'link2'];
		var list_queue_temp_feat='';
		var count = 0;

		var ODcount=0;
		var list_ODs = [];
		var list_OD_temp = ['link1', 'link2'];
		var list_OD_temp_feat= '';

		var queues_w_origin = {};

	</script>
	<script type="text/javascript"  src="{% static 'pointqanalysis/js/main.globalfunctions.js' %}"></script>
	<script type="text/javascript"  src="{% static 'pointqanalysis/js/main.map.js' %}"></script>
	<script type="text/javascript"  src="{% static 'pointqanalysis/js/main.interface.js' %}"></script>		
{% endblock %}