{% extends 'pointqanalysis/template_skeleton.html' %}
{% load staticfiles %}
{% block title %}Simulations{% endblock %}

{% block container %} 
	<div id = 'left_tree'>
		<h2>Upload a simulation:</h2>
		{% if status != '' %}
			<div id='status'>
				<p>{{ status}}</p>	
			</div>
		{% endif %}

		{% if form.errors %}
			<p class="error_red">
				Please correct the error{{ form.errors|pluralize }} below:
			</p>
		{% endif %}

		<form role="form" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="form-group">
				<label for="id_name">Name:</label>
				{{ form.name.errors }}
				{{ form.name }}
			</div>
			<div class="form-group">
				<label for="id_simul_txt_db">File input:</label>
				{{ form.simul_txt_db.errors }}
				{{ form.simul_txt_db }}
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
	<div id = 'right_tree'>
		<h2>Available simulations:</h2>
		<ul>
		</ul>
	</div>
{% endblock %}

{% block javascript %} 
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script type="text/javascript"  src="{% static 'pointqanalysis/js/bootstrap.js' %}"></script>
	{% if status != '' %}
		<script type="text/javascript">
			$( "#status" ).fadeOut(10000);
		</script>
	{% endif %}
	<script type="text/javascript">
		// function : create a request
		function makeRequest(url, fct_treat) {

			var httpRequest = new XMLHttpRequest();

			if (httpRequest.overrideMimeType) {
				httpRequest.overrideMimeType('text/xml');
			}

			if (!httpRequest) {
				return false;
			}

			if (fct_treat == 'avail_simul') {
				httpRequest.onreadystatechange = function() { avail_simul(httpRequest) };
			}
			else {
				return false;
			}
			httpRequest.open('GET', url, true);
			httpRequest.send(null);
		}

		// function: display the list of available simulations

		function avail_simul(httpRequest) {
			var xmldoc = httpRequest.responseXML;
			var list_sim = xmldoc.getElementsByTagName('sim');

			for (var i = 0; i < list_sim.length; i++) {
				var xml_li = '<li id = " ' + list_sim[i].firstChild.data + ' ">' + list_sim[i].firstChild.data + '</li>';
				$('#right_tree ul').append(xml_li);
			}
		}

		makeRequest('http://127.0.0.1:8000/pointqanalysis/ajax?action=listsim', 'avail_simul')

	</script>
{% endblock %}














