{% extends 'pointqanalysis/template_skeleton.html' %}
{% load staticfiles %}
{% block title %}Simulations{% endblock %}

{% block css %} 
	<link href="{% static 'pointqanalysis/css/jquery.dynatable.css' %}" rel="stylesheet">
{% endblock %}

{% block container %} 
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="linkoccupancyModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="queueModalLabel">Delete</h4>
				</div>
				<div class="modal-body">
					Please confirm that you want to delete the simulation from the database
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary confirm_delete">DELETE</button>
				</div>
			</div>
		</div>
	</div>
	<div style="margin-bottom: 100px">
		<h2>Available simulations:</h2>
		<!-- <ul class="no_puce">
		</ul> -->

		<table id="table_simul" class="table table-bordered">
			<thead>
				<th>Name</th>
				<th>Description</th>
				<th>Date</th>
				<th>Associated Network</th>
				<th>Select</th>
				<th>Delete</th>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div>
		<h2>Upload a simulation:</h2>
		{% if status != '' %}
			<div id='status'>
				<p>{{ status}}</p>	
			</div>
		{% endif %}

		{% if form.errors %}
			<p class="error_red">
				Please correct the error{{ form.errors|pluralize }} below:
			</p>
		{% endif %}

		<form role="form" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="form-group">
				<label for="id_name_simul">Name Simulation:</label>
				{{ form.name_simul.errors }}
				{{ form.name_simul }}
			</div>
			<div class="form-group">
				<label for="id_description_simul">Description Simulation:</label>
				{{ form.description_simul.errors }}
				{{ form.description_simul }}
			</div>
			<div class="form-group">
				<label for="id_simul_txt_db">Select Simulation:</label>
				{{ form.simul_txt_db.errors }}
				{{ form.simul_txt_db }}
			</div>
			<div class="form-group">
				<label for="id_name_network">Network:</label><br />
				{{ form.name_network.errors }}
				{{ form.name_network}}
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
		<p>
			<br /><br />
			<a href= {{upload_xml}} class="zoombox" >Click here to upload /delete networks</a><br />
		</p>
	</div>
{% endblock %}

{% block javascript %} 
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'pointqanalysis/js/zoombox.js' %}"></script>
	<script type="text/javascript" src="{% static 'pointqanalysis/js/jquery.dynatable.js' %}"></script>
	<script type="text/javascript"  src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		jQuery(function($){
			$('a.zoombox').zoombox({width: 900, height: 500});
		});
	</script>

	{% if status != '' %}
		<script type="text/javascript">
			$( "#status" ).fadeOut(10000);
		</script>
	{% endif %}
	
	<script type="text/javascript">

		/*
		*  Escape newline chars for being transmitted with JSON over the wire
		*/
		function escapeNewLineChars(valueToEscape) {
			if (valueToEscape != null && valueToEscape != "") {
				return valueToEscape.replace(/\n/g, "\\n");
				console.log('Cool');
			}
			else {
				console.log('not_cool');
				return valueToEscape;
			}
		}

		/*
		*  Converts \n newline chars into <br> chars s.t. they are visible
		*  inside HTML
		*/
		function convertToHTMLVisibleNewline(value) {
			if (value != null && value != "") {
				return value.replace(/\n/g, "<br/>");
			} 
			else {
				return value;
			}
		}
		
		var json_simulations = '{{ json_simulations|safe }}';
		console.log(json_simulations);
		json_simulations = JSON.parse(json_simulations);

		for (var i = 0; i < json_simulations.length; i++) {
			json_simulations[i]['select'] = "<button type='button' class='btn btn-default btn-xs analyse'>Analyse</button>";
			json_simulations[i]['delete'] = "<button type='button' class='btn btn-default btn-xs delete'>Delete</button>";
		}

		$('#table_simul').dynatable({
			dataset: {
				records: json_simulations
			}
		});

		$('table').on('click', '.analyse',function(){
			var sim_selected = $(this).parents().eq(1).children(":first").text();
			$.ajax('../pointqanalysis/ajax?action=set_cookie&sim_name=' + sim_selected);
			$.ajax('../pointqanalysis/ajax?action=redirect&redirection=analysis').done(function(url){
				window.location.replace(url);
			});
		});

		var simu_2_delete = '';
		$('table').on('click', '.delete',function(){
			simu_2_delete = $(this).parents().eq(1).children(":first").text();
			$('#deleteModal').modal();
			$('.confirm_delete').click(function(event){
				event.stopPropagation();
				console.log("Click");
				$.ajax('../pointqanalysis/ajax?action=deltable&table_name=' + simu_2_delete).done(function(){
					location.reload();
				});

			});
		});

	</script>
{% endblock %}
