/*[fmt]0A90-0A0A-2*/
#zoombox iframe,#zoombox img{
	border:none;
}
#zoombox .zoombox_mask{
	background-color:#000;
	position:fixed;
	width:100%;
	z-index:90;
	height:100%;
	top:0;
	left:0;
}
#zoombox .zoombox_container{
	position:absolute;
	z-index:100;
}
#zoombox .relative{
	position:relative;
}
#zoombox .zoombox_prev{
	position:absolute;
	top:0;
	left:0;
	width:50%;
	height:100%;
	cursor:pointer;
	/*+opacity:0;*/
	filter:alpha(opacity=0);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-moz-opacity:0;
	opacity:0;
}
#zoombox .zoombox_prev:hover{
	/*+opacity:100%;*/
	filter:alpha(opacity=100);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-moz-opacity:1;
	opacity:1;
}
#zoombox .zoombox_next{
	position:absolute;
	top:0;
	right:0;
	width:50%;
	height:100%;
	/*+opacity:0;*/
	filter:alpha(opacity=0);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	-moz-opacity:0;
	opacity:0;
}
#zoombox .zoombox_close,#zoombox .zoombox_next,#zoombox .zoombox_prev{
	cursor:pointer;
}
#zoombox .multimedia .zoombox_next,#zoombox .multimedia .zoombox_prev{
	display:none;
}
#zoombox .zoombox_next:hover{
	/*+opacity:100%;*/
	filter:alpha(opacity=100);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-moz-opacity:1;
	opacity:1;
}
#zoombox .zoombox_gallery{
	position:fixed;
	z-index:120;
	bottom:-60px;
	left:0;
	right:0;
	text-align:center;
	/*+opacity:85%;*/
	filter:alpha(opacity=85);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
	-moz-opacity:0.85;
	opacity:0.85;
	cursor:pointer;
	width:auto;
	background-color:#050505;
	height:60px;
	overflow: hidden;
	display:none;
}
#zoombox .zoombox_gallery img{
	height:50px;
	padding:5px;
	/*+opacity:50%;*/
	filter:alpha(opacity=30);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
	-moz-opacity:0.3;
	opacity:0.3;
}
#zoombox .zoombox_gallery img:hover,#zoombox .zoombox_gallery img.current{
	/*+opacity:100%;*/
	filter:alpha(opacity=100);
	-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-moz-opacity:1;
	opacity:1;
}
#zoombox_loader{
	background:url(img/loader.png) no-repeat left top;
	position:absolute;
	height:40px;
	width:40px;
	cursor:pointer;
	top:50%;
	left:50%;
	margin:-20px 0 0 -20px;
	z-index:110;
}
/** Zoombox Theme **/
.zoombox .zoombox_container{
	background:#000;
	color:#666;
	/*+box-shadow:0px 0px 10px #000000;*/
	-moz-box-shadow:0px 0px 10px #000000;
	-webkit-box-shadow:0px 0px 10px #000000;
	-o-box-shadow:0px 0px 10px #000000;
	box-shadow:0px 0px 10px #000000;
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
	-o-box-shadow:0 0 10px #000;
	box-shadow:0 0 10px #000;
}
.zoombox .content{
	background:#000;
}
.zoombox .zoombox_title{
	color:#FFF;
	/*+placement:anchor-top-left -1px -22px;*/
	position:absolute;
	left:-1px;
	top:-22px;
	/*+text-shadow:1px 1px #000000;*/
	-moz-text-shadow:1px 1px #000000;
	-webkit-text-shadow:1px 1px #000000;
	-o-text-shadow:1px 1px #000000;
	text-shadow:1px 1px #000000;
	-moz-text-shadow:1px 1px #000;
	-webkit-text-shadow:1px 1px #000;
	-o-text-shadow:1px 1px #000;
	text-shadow:1px 1px #000;
}
.zoombox .zoombox_close{
	background:url('../images/close_zb.png') no-repeat;
	width:30px;
	height:30px;
	/*+placement:anchor-top-right -15px -15px;*/
	position:absolute;
	right:-15px;
	top:-15px;
}
#zoombox.zoombox .zoombox_next{
	background:url('../images/next.png') no-repeat right center;
}
#zoombox.zoombox .zoombox_prev{
	background:url('../pointqanalysis/images/prev.png') no-repeat left center;
}
